.App {
}

header, section {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(201, 201, 201);
  margin: 10px;
}
section {
  min-height: 50vh;
}

h1 {
  margin: 0 0.2em;
}

h2 {
  margin: 0 0.1em;
}

.name-highlight {
  color: rgb(34, 94, 34);
  font-weight: bold;
  white-space: nowrap;
}

.preview {
  display: flex;
}

.preview.left {

}

.preview.right {
  flex-direction: row-reverse;
}

.preview .image {
  margin: 10px;
  width: 8em;
  height: 6em;
  background-color: black;
}
.preview .info {
  display: flex;
  flex-direction: column;
}

.preview .info h4 {
  margin: 0.3em 0 0.25em 0;
}

.preview .info p {
  margin: 0 0.1em;
}

footer {
  padding: 5px 10px;
  border-top: 1px solid #787b82;
  color: #787b82;
}
